//--- common
.gnb-logo {
    display: block;
    width: 123px; height: 55px;
    text-indent: -250px; overflow:hidden;
    background-size:123px 55px;
    background-image: url("@{base-image-path}/logo-white.png");
    &.orange {
        background-image: url("@{base-image-path}/logo-orange.png");
    }
}

.gnb-outer {
    width: 100%;
    border-bottom:@gnb-border-bottom;
    background:url('@{base-image-path}/bg_head.jpg') repeat-x @gnb-bg-color;

    .gnb-inner {
        .center-block;
        width: @base-width;
        /*height: 75px;*/
        position: relative;

        .gnb-menu-wrap {
            overflow: hidden;

            .logo {
                float: left;
                width: 123px; height: 55px; line-height:55px;
                text-align:center; font-size:2em; overflow:hidden;
                color:#fff; background-color: @gnb-logo-bg-color;

                span {
                    .gnb-logo;
                }
            }

            .gnb-menus {
                float: left;
                margin: 0px 10px 22px 34px;

                .menu {
                    float: left;
                    margin-left: 35px;
                    color: @gnb-link-color;

                    a {
                        display: block;
                        min-width:100px;
                        height: 24px;
                        line-height: 24px;
                        padding-top:23px;
                        text-align:center;
                        font-size: 13px;
                        &:hover { color: @gnb-link-hover-color; }
                    }

                    &.active {
                        border-top:3px solid @gnb-link-active-color;

                        a {
                            padding-top:20px;
                            color: @gnb-link-active-color;
                            font-weight:bold; text-shadow:0px 0px 2px #fff;
                        }
                    }
                }

                &.right {
                    float: right; position:absolute;
                    right:0; top:0;
                    margin-top:19px;

                    /** 사이트 검색폼 **/
                    .search-bar {
                        display:inline-block;
                        padding:3px 0 0 5px;
                    }

                    /** 로그인 하지 않은 경우 메뉴 **/
                    .lnk-group {
                        a {
                            padding-right:5px; margin-right:8px;
                            border-right:1px solid @gnb-action-separate-border-color;

                            &:last-of-type {
                                padding-right:0; margin-right:0;
                                border-right:none;
                            }
                        }
                        margin-right:10px;

                        .avatar-wrap {
                            border:1px solid #868686;
                            margin-right:5px;
                            img { vertical-align:top; }
                        }
                    }

                    /** 로그인한 사용자의 프로젝트 Role **/
                    .member-role { display:inline-block; margin-right:5px; }

                    /** 로그인한 사용자의 dropdown 메뉴 **/
                    .usermenu {
                        margin:0; display:inline-block; vertical-align:middle;

                        .dropdown-toggle {
                            background:transparent;

                            .d-label {
                                width:145px;
                                span.text { margin-left:5px; }
                                .avatar-wrap img { vertical-align: top; }
                            }
                            .d-caret {
                                padding:5px 9px;
                                border-left:none;
                                .caret { border-top-color:@primary; }
                            }
                        }

                        .dropdown-menu {
                            .divider {
                                background-color:transparent;
                                border-bottom:1px solid rgba(0,0,0,0.1);
                            }
                            .disabled span { color:rgba(5,5,5,0.5); }
                        }
                    }
                } // .right
            }// gnb-menu
        }//gnb-menu-wrap
    } //gnb-inner

    .sub-menu-sp, .sub-menu-wrap {
        width: @base-width;
        height: 5px;
        background-color: @gray-d4;
        .center-block;
        display:none;
    }
    .sub-menu-wrap {
        height: 44px;
        background-color: @gray-ec;
        border-bottom: 1px solid @gray-f7;
        .sub-menus {
            margin: 0;
            list-style: none;
            overflow: hidden;
            height: 43px;
            border-bottom: 1px solid @gray-d4;
            .menu {
                line-height: 43px;
                height: 43px;
                float: left;
                text-align: center;
                width: 150px;
                font-size: 11px;
                border-left:  1px solid @gray-d4;
                border-right: 1px solid @white;
                &:first-child {
                    border-left: 0 none;
                }
                &:last-child {
                    border-right: 0 none;
                }
                &.selected {
                    font-weight: bold;
                    color: @submenu-selected-color;
                }
            }
        }
    }
}

// project-setting, project-home ...
.prj {
    .gnb-outer {
        background:none;
        border:none;
        background:#383838; color:#fff;
    }
    .gnb-inner {
       .gnb-menu-wrap {

            .logo {
                background:transparent !important;
                color:@primary !important;
                width:107px;

                span {
                    width: 123px;
                    height: 55px;
                    display: block;
                    text-indent: -250px;
                    background-size:123px 55px;
                    background-image: url("@{base-image-path}/logo-orange.png");
                }
            }

            .page-title {
                float:left; overflow:hidden; margin:0;
                line-height:56px; /*color:#fff;*/ font-weight:normal;
                a { vertical-align:top; }
            }

            .forked {
                line-height:56px;
                i { margin-left:10px; cursor:pointer; }

                .popover {
                    color:#111;
                    line-height:1;
                }
            }

            .gnb-menus {
                margin: 15px 10px 17px 34px;

                &.right {
                    margin-top:9px;
                    margin-right:0px;

                    .dropdown-toggle {
                        border-bottom:1px solid rgba(0,0,0,0.5);

                       .d-label {
                           text-shadow:none;
                           font-weight:bold; color:#fff;
                           .avatar-wrap { border:1px solid #333; }
                       }
                       .d-caret {
                           border-left:1px solid #787878;
                       }
                    }
                    .sp-line {
                        color:#626262 !important;
                        opacity:1 !important;
                    }
                }
            } /* gnb-menus */
        } /* gnb-menu-wrap */
    } /* gnb-inner */

    .page {
        padding:10px 0;
    }
}

.page-wrap {
    width: @base-width;
    background-color: @white;
    .center-block;
}

.intro-wrap {
    background: url("@{base-image-path}/bg-index-content-960.png") no-repeat top left transparent;
    height: 375px;
    text-align: center;
    width: @base-width;

    .intros {
        padding: 25px 0 0;
        font-size: 0;
        margin: 0;

        .intro {
            width: 200px;
            padding: 0 15px;
            .inline-block;
        }
    }
}

.page-footer-outer {
    width: @base-width - 40;
    padding: 10px 20px;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    .center-block;

    .page-footer {
        line-height: 34px;
    }
    .provider {
        color: @gray-99;
        .inline-block;
        font-size: 11px;
    }
}

.page {
    .border-radius-bottom(20px);

    &.full {
        padding: 0;
    }
    &.code-browse,
    &.plugin-setting {
        padding: 0 20px;
    }

    label { cursor:pointer; .inline-block; }
}

.user-thumb-wrap {
    border: 1px solid #B4B4B4;
    .border-radius(3px);
    .inline-block;
}

.checkbox {
    .inline-block;
    vertical-align:top;
    margin:2px !important;
}

.label-public, .label-private, .label-agreement {
   .form-label;
}

.forked-from {
    display:inline-block;
    vertical-align:middle;
    padding:7px 10px;
    font-size:11px;

    i { vertical-align:text-bottom; }
}

//----------- index page.
.center-wrap {
    text-align: center;
}

.page {
    .tag-line-wrap {
        text-align:center;
        margin-top:7px;
        margin-bottom: 26px;

        &.signup {
            padding-top: 40px;
            margin-top : 0px;
            .tag-line {
                color: #7C7C7C;
                font-size: 14px;
                /*font-family: "DIN Medium";*/
                /*letter-spacing: -1px;*/
                span {
                    color: #535353;
                }
            }
        }
        &.login {
            /*margin-top: 25px;*/
           padding-top:40px;
           margin-top:0px;
        }
        .title {
            font-size: 3.3em; /*52px;*/
            line-height:42px; /*line-height: 1.3;*/
            font-weight: normal;
            .inline-block;
            /*.helvetic-light;*/
            .high-light {
                color: @orange;
                font-weight:300;
            }
            font-family:'Myriad Pro Light', 'Droid Sans', Tahoma, sans-serif;
        }
        .tag-line {
            font-size: 1.2em; /*16px;*/
            color: #7c7c7c; /*@gray-52;*/
            /*font-family:"Myriad Pro";*/

            span { color:@gray-52; }
        }
    }
    .tag-line-wrap-index {
        margin-top:25px !important;
        margin-bottom:23px !important;
    }
}

.front {
    display:block; height:238px;
    background:url('@{base-image-path}/img_front.jpg') no-repeat;
    position:relative;
    /*margin-left:84px; margin-top:22px;*/
    line-height:350px;

    /* Button */
   .btn-wrap {
        /*margin-left:230px;*/
       width:252px; margin:0 auto;

        a {
            font-size:18px; text-align:center;
            width:252px; height:56px;
            background-color:@orange;
            color:#fff; line-height:56px;
            border-bottom:1px solid #ae5f54;
            .border-radius(10px);
            .inline-block;

            i { vertical-align:middle; margin-bottom:4px; }
        }
    }
}

//---------- home page.
.fn-intro-wrap {
    text-align: center;
    width: 100%;/*@base-width;*/

    .intros {
        padding: 16px 10px;
        padding-bottom:15px;

        margin: 0;
        font-size: 0;
        border-bottom:2px solid @gray-f2;

        li {
            width: 196px;
            height:178px;
            margin-right:73px; /*29px;*/
            background-image: url('@{base-image-path}/sprite2.png');
            /*border:1px solid #e3e3e3;*/
            .inline-block;
        }
        li:last-of-type { margin:0; }

        .project    { background-position:0px 0; }
        .repository { background-position:-200px 0; }
        .tasks      { background-position:0px -180px; }
        .tracker    { background-position:-200px -180px; }

        &.closed {
            height: 0;
            overflow: hidden;
            padding: 5px 0 0;
        }
    }
    .index {
        border:none !important;
    }
}

.page.on-fold-intro {
    padding-top:0;
    .tag-line-wrap { display:none; }
    .intros { display:none; }

    .btn-open-close {
        width: 54px; height: 12px; vertical-align: top;
        background-position: -59px -129px !important;
        &:hover { background-position: -3px -129px !important; }
    }
}

.content-container {
    .main-stream {
        .activity-streams {
            margin: 0;

            .activity-stream {
                padding: 1px 0;

                &:first-of-type { padding-top:10px; }
                &:last-child    { border-bottom: 0 none; }

                .user-thumb-wrap {
                    float: left;
                    margin-right: 25px;
                }
                .activity-desc {
                    overflow: hidden;
                    .header-text {
                        margin-top: 0;
                        font-size: 12px;
                        line-height: 100%;
                        color: #666;
                        .actor {
                            color: @orange;/*#D06930;*/
                            font-weight: bold;/*normal;*/
                        }
                        .whereis {
                            font-size: 11px;
                            color: #000; /*#4092A1;*/
                        }
                    }
                    .desc {
                        color: #888;
                        font-size: 11px;
                        margin-bottom: 10px;

                        .commit-logs {
                            .commit-log {
                                overflow: hidden;
                                margin-bottom: 5px;
                                &:last-child {
                                    margin-bottom: 0;
                                }
                                .user-thumb-wrap {
                                    width: 18px;
                                    height: 18px;
                                    margin-right: 10px;
                                    display: block;
                                    float: left;
                                    .border-radius(2px);
                                    img {
                                        vertical-align: top;
                                    }
                                }
                                .commit-detail {
                                    font-size: 11px;
                                    margin-left: 30px;
                                    .commit-id {
                                        color: @orange;/*#D06930;*/
                                        font-weight:bold;
                                    }
                                    .commit-msg {
                                        color: #808080;
                                    }
                                }
                            }
                        }
                    }
                    .others {
                        line-height: 16px;
                        padding-left: 3px;

                        .num {
                            font-size: 12px;
                            color: #5dbbe0;/*#4489A4;*/
                            margin-left: 3px;
                        }
                        .date {
                            font-size: 11px;
                            color: #999;
                            margin-left: 5px;
                        }
                        .ico {
                            vertical-align: bottom;
                            &.ico-sp-dot {
                                vertical-align: middle;
                                margin: 0 2px;
                            }
                        }
                    }
                }
            }
        }
    }

    .projects-wrap {
        .my-projects-tab {
            margin:0;
        }

        .my-projects {
            border:1px solid #ddd;
            margin:0; border-top:none;

            .filter-wrap {
                margin:0; padding:10px;
                overflow:visible;
            }

            .my-project {
                position:relative;
                padding-left: 15px;
                padding-bottom: 10px;
                margin: 1px;

                .project-header {
                    .name-wrap {
                        .inline-block;
                        font-size: 14px;
                        color: #777;

                        i { margin-left:3px; }
                        a {
                            .inline-block;
                            strong {
                                text-overflow:ellipsis; overflow:hidden;
                                display:inline-block;
                            }
                        }
                    }

                    .ico-wrap {
                        vertical-align:top;
                        margin-top:9px;
                        width: 5px;
                        text-align: right;
                        .inline-block;
                    }
                }
                &.on-desc {
                    .ico-wrap { margin-top:20px; }
                }
            }
            .my-project:first-of-type {
                padding-top:1px;
            }
        }

        .contributors {
            overflow: hidden;
            .contributor {
                float: left;
                width: 32px;
                border: 1px solid #B4B4B4;
                .border-radius(3px);
                margin: 0 8px 10px 0;
                &:nth-child(4n) {
                    margin-right: 0;
                }
            }
        }
        .sp-line {
            height: 1px;
            background-color: @white;
            border-top: 1px solid @gray-d9;
            margin: 10px 0;
        }
        .btn-wrap {
            .btn-wrap-new-project;
        }

        /** Create new project button **/
        .getstarted {
            width:220px;
            padding-top:11px;

            button {
                cursor:pointer;
            }
        }
    }
}

.btn-wrap-new-project {
    margin-top: 20px;
    margin-bottom:41px;
    text-align: center;

    a {
        font-size:15px; /*font-family:"Myriad Pro";*/
        width:180px; height:35px;
        background-color:@orange;
        color:#fff; line-height:35px;
        border-bottom:1px solid #ae5f54;
        .border-radius(5px);
        .inline-block;

        i { vertical-align:middle; margin-bottom:4px; }
    }
}

//------ login page
.login-form-wrap,
.signup-form-wrap {
    .text {
        width: 386px;
        height: 27px;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 10px;
        &:focus {
            border: 1px solid @orange;
            outline: none;
        }
        &.password {
            margin-bottom: 15px;
        }
    }
}
.login-form-wrap {
    margin-top: 54px;
    width: 400px;
    .center-block;
    .act-row {
        margin-bottom: 42px;
        line-height:22px;
    }
    .forgot-password {
        vertical-align: top;
        color: #5C5C5C;
        margin-left: 5px;
        padding-left: 5px;
        border-left: 1px solid #eee;

        &:hover {
            color: #010101;
        }
    }

    .btns-row {
        width: 384px;
        margin-bottom: 73px;
        .center-block;
    }
}

//---- sign up
.signup-form-wrap {
    margin-top: 54px;
    width: 400px;
    .center-block;
    .inline {
        .inline-block;
    }
    .text {
        &.email{
            width: 181px;
            margin-right: 10px;
        }
        &.uname {
            width: 181px;
        }
    }
    .act-row {
        font-size: 11px;
        color: #999999;
        margin-bottom: 45px;
        .go-login {
            color: #5C5C5C;
        }
    }
    .btns-row {
        width: 227px;
        .center-block;
        margin-bottom: 50px;
    }
}

//-- new project
.form-wrap {
    &.new-project {
        margin: 30px 19px 0px 19px;

        .text {
            width: 99%;/*866px;*/
            &.textarea {
                height: 78px;
                resize: none;
            }
        }
        .options {
            background-color: #F7F7F7;
            margin-bottom: 20px;
            .border-radius(10px);

            .option {
                padding: 15px 20px;
                border-bottom: 1px solid #E9E9E9;
                &:first-child {
                    padding-top:24px;
                }
                &:last-child {
                    border-bottom: 0 none;
                    padding-bottom:24px;
                }
                .option-label {
                    float: left;
                    width: 125px;
                    line-height:29px;
                }
                .option-desc {
                    margin-left: 125px;
                    label {
                        display: inline;
                        color: #777;
                    }
                    .note {
                        margin-left: 10px;
                        color: #777; /*BDBDBD;*/
                        font-size: 12px;
                    }
                }
            }

            .d-label, .dropdown-menu {
                width:182px;
            }
        }

        .actions {
            text-align: center;
            position: relative;
        }
    }
}

.bread-crumb-wrap {
    overflow: hidden;
    .title {
        margin-top: 0;
        font-weight: normal;
        font-size: 26px;
        float: left;
        color: @orange;
    }
    .bread-crumb {
        float: right;
    }
}

//--- projects
.header-wrap {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
    border-bottom:1px solid #ececec;

    .stats-wrap {
        padding: 0px 0px 5px 0px;
        overflow: hidden;
        .stat {
            background-color: #FFF;
            padding: 10px 20px;
            .border-radius(5px);
            height: 31px;
            width: 268px;
            margin-right: 10px;
            float: left;
            &:last-child {
                margin-right: 0;
            }
            .desc {
                font-size: 12px;
            }
            .num {
                float: right;
                font-size: 28px;
                line-height: 1;

                &.all  { color: @orange; }
                &.open { color: #5DBBE0; /*color: #51AACC;*/ }
                &.public { color: #5DBBE0; }
            }
        }

        .stat-projectlist {
            border-bottom:1px solid #c5c5c5;

            &.active {
                box-shadow:inset 0px 2px 2px rgba(0,0,0,0.25);
                border-bottom:none; font-weight:bold;

                &.all     { color: @orange; }
                &.public  { color: #5DBBE0; }
                /*&.private { color: #5DBBE0; }*/
            }
        }

        .stat-issue {
            width:266px; /*240px;*/
            border-bottom:1px solid #c5c5c5;

            &.active {
                box-shadow:inset 0px 2px 2px rgba(0,0,0,0.25);
                border-bottom:none; font-weight:bold;

                .desc {
                    &.all  { color: @orange; }
                    &.open { color: #5DBBE0; /*color: #51AACC;*/ }
                    &.public { color: #5DBBE0; }
                }
            }
        }
    }
}
.search-wrap {
    form { margin: 0; }

    .inner {
        position:relative;
        padding: 20px; /*10px 20px 10px 40px;*/

        input { margin:0; }
        form  { margin:0 auto; /*text-align:center;*/ }
        .input-medium { width:94%; }

        .actrow { position:absolute; right:0px; top:10px; }
        .bottom-actrow { padding-top:25px; margin-top:25px; border-top:1px solid #ddd; }

        .text {
            background-color: #fff;
            border: 1px solid #ccc;
            .border-radius(2px 0 0 2px);
            &:focus { .box-shadow(none); }
        }

        .btn-advanced {
            color:#707070;
            font-weight:bold;
            /*padding-left:18px;*/
            margin:10px 0 0; text-align:right;
            vertical-align:middle;
            display:inline-block;

            i {
                vertical-align:middle; margin-right:3px;
                .ico-arrow-down-blue;
            }
        }

        .srch-advanced {
            display:none;
        }

        &.advanced {
            .srch-advanced {
                display:block; text-align:left;
                margin:10px 0 20px;
                border-top: 1px solid #D6D6D6;
            }
            .btn-advanced {
                i { .ico-arrow-up-blue; }
            }
        }

        .labels-wrap { border-top:1px solid #ddd; padding-top:10px; }
        .milestone-info {
            padding-bottom:20px;
            margin-bottom:20px;
            border-bottom:1px solid #ddd;
        }
        .preset-list {
            padding-bottom:20px;
            margin-bottom:20px;
            border-bottom:1px solid #ddd;

            li {
                font-size:13px;
                padding:8px;
                a { display: block}
                &.active {
                    color: #fff;
                    background: @secondary;
                    font-weight:bold;

                    .border-radius(2px);
                    .box-shadow(inset 1px 1px 1px rgba(0,0,0,0.2));
                    .num-badge { color:#fff; }
                }
            }
        }
    } // -- end of .inner //

    &.user-setting {
        .inner {
           padding:10px;
           background-position: 570px bottom;
            .text { width: 400px; }
            .search-btn { width: 120px; }
        }
    }
    &.board {
        .inner {
            .text { width: 547px; }
        }
    }
    &.help {
        .inner {
            form { width:565px; }
            padding-left: 30px;
            .labels {
                line-height:29px; margin-right:20px;
                vertical-align: middle;
                font-size: 18px;
                &.sub {
                    color: #555;
                    .opacity(70);
                    margin-right: 5px;
                }
            }
            .sp-line {
                .inline-block;
                border-left: 1px solid #CCC;
                margin: 0 11px;
                height: 12px;
                vertical-align: text-bottom;
            }

            .text {
                width: 408px;
            }
        }
    }
}
.all-projects {
    margin: 0 0 20px;
    list-style: none;

    // -- project list -- //
    .project {
        margin: 5px 0px; /*5px 20px;*/
        padding: 10px 20px;
        overflow: hidden;
        border-bottom: 1px solid #DCDCDC;
        .info-wrap {
            .owner-avatar-wrap {
	        overflow:hidden;
                display: inline;
                float: left;
                width: 50px;
                height: 50px;
                margin-right: 10px;
                border: 1px solid #DDD9D9;
                border-radius: 3px !important;
                position: relative;
                img {
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  margin: auto;
                }
            }
            .header {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 5px;
            }
            .forked{
              padding:3px 5px;
              text-shadow: none;
              font-size:11px;
              margin-left: 10px;
            }
            .desc {
                margin-left:10px;
                overflow-y: auto;
                max-height: 100px;
                max-width: 647px;
                text-overflow:ellipsis;
                color: #bababa;
            }
            .name-tag {
                margin: 0;
                margin-left:10px;
                font-size: 11px;
                color: #999;
                .owner-name-small{
                  font-size: 12px;
                }
            }
        }
        .stats-wrap {
            margin-top: 0px;
            text-align: right;

            .like {
                .inline-block;
                vertical-align: middle;
                width: 42px;
                text-align: left;
                margin-right: 20px;
                .num {
                    color: #4489A4;
                }
                .ico {
                    vertical-align: text-bottom;
                    margin-right: 3px;
                }
            }

           .members {
               width:115px;
               ul {
                    display:inline-block;
                    width:115px; max-height:70px;
                    overflow:hidden;

                    li {
                        float:right;
                        .avatar-wrap { margin-right:3px; margin-bottom:3px; }
                    }
                }

                strong { color:@secondary; }
           }

           .leaveProject { margin-top:2px; }
        }
    }

    // -- userinfo -- //
    &.user-streams {
        .project {
            &:first-of-type {
                padding-top:5px;
            }
        }
    }
}

//-- help page

.qas {
    list-style: none;
    margin: 30px 0 0;
    padding: 0;
    .qa {
        margin-bottom: 14px;
        border-bottom: 1px solid #DCDCDC;
        &:last-of-type {
            border-bottom:none;
        }
        .question-wrap {
            line-height: 1.2;
            display: table;
            padding: 0 15px; /*10px;*/
            margin-bottom: 14px;
            width:100%;
            .ico  { margin-right: 10px;  }
            .icor {
                margin:17px !important;
                .ico-qa-plus;
            }
            .question {
                width:85%;
                vertical-align: middle;
                display: table-cell;
                font-size: 14px;
                color: #4C4C4C;
                /*.opacity(50);*/
                text-decoration: none;
            }
        }
        .answer-wrap {
            display: none;
            padding: 15px; /*19px 20px;*/
            border-top: 1px solid #DCDCDC;
            background-color: #F3F3F3;
            .ico {
                margin-right: 20px;
            }
            .answer {
                vertical-align: top;
                display: table-cell;
                line-height: 16px;

                text-align: justify;
                word-break: break-all;
                line-height: 180%;
                padding-right:9%
            }
        }
        &.open {
            .question-wrap {
                margin-bottom: 16px;
                width:100%;

                .icor {
                    .ico-qa-minus;
                }
                .question {
                    /*font-size: 20px;*/
                    /*.opacity(100);*/
                }
            }

            .answer-wrap {
                display: table;
            }
        }
    }
}

//-- project setting
.page-title {
    margin-top: 20px;
    font-size: 20px;
    font-weight: normal;

    a {
        display:inline-block; max-width:300px; /* 프로젝트명 */
        overflow:hidden; text-overflow:ellipsis;
        cursor:pointer;
    }

    .gray {
        .opacity(50);
        a { max-width:130px !important; } /* 아이디 */
        a:hover { color:inherit !important; }
    }
}

.bubble-wrap {
    overflow: hidden;
    margin-bottom: 20px;
    .border-radius(5px);/*10px*/
    &.gray {
        background-color: #F7F7F7;
    }
    &.dark-gray {
        background-color: #ECECEC;
        hr {
            border-top:1px solid #d4d4d4;
        }
    }
    &.wp {
        padding: 20px 20px 10px;
    }
}

.box-wrap {
    border-bottom: 1px solid #E9E9E9;
    padding: 0 20px;
    &:last-of-type { border-bottom:none; }

    &.top {
        padding-bottom: 20px;
    }
    &.middle {
        padding: 10px 20px;
    }
    &.bottom {
        padding: 20px 0; /*10px 0;*/
        padding-bottom:12px;
        border-bottom: 0 none;
        text-align: center;
    }

    /* 프로젝트 설정 */
    .setting-box {
        float: left;
        width: 399px;

        &.left {
            padding-right: 20px;
            border-right: 1px solid @white;
            .logo-wrap {
                width:260px; height:188px;
                background-repeat:no-repeat;
                background-size:cover;
                background-position:center;
                .border-radius(10px);
                .inline-block;
            }
            .logo-desc {
                width: 120px;
                font-size: 12px;
                margin-left:10px;
                vertical-align:top;

                .inline-block;
                .point {
                    color: @secondary;
                    font-weight:bold;
                    text-transform:uppercase;
                    display:block; clear:both;
                }

                .descs li {
                    margin-top:10px;
                    &:last-of-type { margin-top:25px; }
                }
            }
        }

        &.right {
            padding-left: 20px;
            border-left: 1px solid @gray-d4;
            .text, .textarea {
                width: 380px;
            }
            .textarea {
                height: 80px; /*111px;*/
                margin-bottom: 0;
                resize:vertical;
            }
        }
    }
}
.cu-label {
    width: 80px;
    padding-right: 45px;
    .inline-block;
    vertical-align: top;
}

.cu-desc {
    .inline-block;
    .note {
        color: #777; /*999;*/
        font-size: 12px;
    }
    .notice {
        color: #DB3A67;
    }
}

.n-alert.project-del {
    margin-left: 125px;
}
.btn-project-delete {
    margin-left:10px;
}

.project-menu {

    padding-bottom: 10px;
    margin-bottom:10px;
    ul { margin:0 !important; }
    li { /*line-height:40px;*/ padding:0; .inline-block; }
    width:100%;

    .project-menu-wrap {
        width:100%;
        position:relative;

        &.affix {
            top:0;
            z-index:100;
            position:fixed;
            background:#fff;
            border-bottom:1px solid #eee;
            left:0; right:0;

            .project-menu-container { width:95%; margin:0 auto; }
        }

        &.sub {
            height:40px; line-height:40px;

            ul {
                position:absolute;
                &.on-home  { left:10px;  }
                &.on-board { left:95px; }
                &.on-code  { left:180px; }
                &.on-issue { left:380px; }
                &.on-admin { left:650px; }
            }

            a { font-weight:bold; color:#959595; padding:0 25px; font-size:12px; }
            .active a { color:@primary !important; }
        }

        .project-menu-container {
            position:relative;

            &.main {
                text-align:left;

                ul > li {
                    a {
                        display:block; padding:15px 25px;
                        font-weight:bold; font-size:14px;
                        -webkit-transition-duration:0.3s;

                        .icon-large { margin-right:5px; vertical-align:middle; }
                    }
                    .menu-title { display:inline; }

                    &:hover {
                        color:@primary;
                        border-bottom:2px solid #eee;
                        a { text-decoration:none; }
                        /*.menu-title { display:inline; }*/
                    }
                    &.active {
                        border-bottom:2px solid @primary;
                        color:@primary;
                        /*.menu-title { display:inline; }*/
                    }
                }
            }

            .sp-line {
                width:1px; color:#eee;/*d7d8d9;*/
                padding:0; margin:0;
            }

            .actrow {
                position:absolute;
                top:10px; right:0;
                z-index: 777;

                /* 저장소 URL 표시용 popover */
                .popover {
                    width:430px;
                    max-width:500px;
                    left:-100% !important;

                    .arrow { left:64% }

                    .clone-label {
                        display:inline-block;
                        background:#5dbbe0; color:#fff;
                        text-shadow: -1px -1px rgba(0, 0, 0, 0.3);
                        padding:5px 15px; vertical-align:middle;
                        .border-radius(2px);
                    }
                    .repo-wrap {
                        display:inline-block; margin:0;
                        .repo-url { width:260px; margin:0; }
                        .copy-url { font-size:11px; font-weight:bold; margin:0; }
                    }
                }
            }
        }
    }
}

.user-role {
    .inline-block;
    border-radius:3px 3px 0px 0px;
    padding:5px 10px; font-size:11px;

    i { vertical-align:bottom; }
}

//--- member
.inner-bubble {
    margin-bottom: 10px;
    .text {
        &.uname {
            width: 384px;
            margin: 0;
            .border-radius(2px);
        }
    }
}

.members.project {
    margin: 0;
    list-style: none;
    padding:10px;

    .member {
        display:inline-block;
        width:370px; /*415px, 375px;*/
        text-align:left;
        padding: 10px;/*20px;*/
        margin-bottom: 6px;
        background-color: @white;
        margin-right:10px;
        .border-radius(10px);

        &:nth-child(3n) {
            margin-right: 0px;
        }

        .m-body {
            margin-left: 64px;
            .td {
                display: table-cell;
                padding-left: 10px;
                padding-top: 3px;
                &:first-child {
                    padding-left: 8px;
                    width: 120px;
                    max-width: 120px;
                    border-right: 1px solid @gray-d4;
                }

                p {
                    word-wrap: break-word;
                    margin-bottom: 2px;
                }
                .d-label {
                    width: 108px; /*147px;*/
                }
                .btns {
                    text-transform: capitalize;
                    margin-top: 6px;
                }
                .uname { font-size: 20px; }
                .name  { font-size: 11px; }
            }
        }
    }
}

//-- filters
.filter-wrap {
    display: block;/*inline;*/
    margin:15px 0 10px;
    height:30px;
    /*margin-bottom: 15px;
    overflow: hidden;*/

    .filters {
        color:#666;
        float: right; margin-top:5px;
        .filter {
            margin-right:10px;
            &.active { font-weight:bold; color:@primary; }
            &:last-of-type { margin:0; }
        }
        i { margin-right: 5px; }
    }

    //-- milestone
    /*&.milestone {
        margin-top: -20px;
    }*/

    //-- board, user
    /*&.board, &.user-setting {
        margin: 15px 0 10px;
        padding-right:3px;
    }*/
}

//-- milestone
.milestone-legend {
    text-align:left;
    color:#999;
    i {
       .inline-block;
       .border-radius(2px);
       width:7px; height:7px;
       margin:0 3px;
       &.orange { background:@orange; }
       &.blue { background:@blue2;     }
       &.gray { background:#B1B1B1;   }
    }
}

.milestone-info {
    margin-bottom:20px;

    .meta-info {
        margin:5px;
        .title    { font-size:12px; font-weight:bold; }
        .sp       { margin: 0 5px; color:#E4E4E4; }
        .due-date { color: #666; /*999;*/ }
    }
    .progress-wrap {
        overflow: hidden;
        color: #999;
        font-size: 11px;
    }
    .desc {
        font-size: 11px;
        margin-top: 15px;
        padding: 15px;
        background-color: #EBEBEB;
        border-top:1px solid #D3D3D3;
        .border-radius(2px);
    }
}

.milestones {
    list-style: none;
    margin: 0;

    .milestone {
        border-bottom: 1px solid @gray-d4;
        padding: 15px 0px; /* 15px 30px;*/
        overflow: hidden;
        &:last-of-type { border-bottom:none; }

        .infos {
            width: 80%; /*700px*; /*660px;*/
            float: left;
            .contributors {
                margin: 0;
                list-style: none;
                overflow: hidden;
                .contributor {
                    float: left;
                    margin: 0 5px 5px 0;

                    .img-rounded {
                        width:34px; height:34px;
                        display:block;
                    }
                }
            }
            .meta-info {
                margin:5px 0 10px;
                .title    { font-size:20px; font-weight:bold; }
                .sp       { margin: 0 5px; color:#E4E4E4; }
                .due-date { color: #666; /*999;*/ }
            }
            .progress-wrap {
                overflow: hidden;
                color: #999;
                font-size: 11px;
                margin-top:15px;
            }
            .desc {
                font-size: 11px;
                margin-top: 15px;
                padding: 15px;
                background-color: #EBEBEB;
                border-top:1px solid #D3D3D3;
                .border-radius(2px);
            }
            .actrow {
                text-align:right;
                padding-top:10px;
            }
        }
        .completion-rate {
            text-align: center;
            font-size: 56px;
            line-height: 1; /*1.3;*/
            letter-spacing: -5px;
            &.done {
                color: @orange;
            }

            i {
                .inline-block;
                font-style: normal;
                font-size: 0.6em;
                vertical-align: top;
                padding-top: 20px;
                margin-left:7px;
            }
        }
    }
}
.milestone-desc {
    background: #efefef;
    padding: 10px;
    margin: 15px 0;
    border-top: 1px solid #ccc;
    .border-radius(2px);
}



//-- new milestone
.form-wrap {
    &.milestone {
        .inner {
            &.left {
                width: 74%;
                display:inline-block;
                vertical-align:top;

                .text , .textarea {
                    width:100%;
                }
                .textarea {
                    height: 306px;
                    resize: vertical;
                }
                .actions {
                    text-align: right;
                    height: 26px;
                    .save {
                        vertical-align: top;
                        margin-right:5px;
                    }
                }
            }

            &.right {
                display:inline-block;
                vertical-align:top;
                width:21%;
                height:385px;
                margin-left:30px;
                padding: 15px 10px;
                /*background-color: #ececec;*/
                .border-radius(5px);

                .due-date    { width: 236px; margin-bottom:0; }
                .pika-single { width:232px; }
                .date-picker { margin-top:5px; }

                label { color:#777; }
            }
        }
    }
}

//-- project home
.project-home {
    width:260px;
    padding: 10px;
    /*font-size: 0;*/

    .issue-wrap {
        margin-bottom:15px;
        a.btn { width:105px; }
    }

    .inner {
        height: 188px;
        background-color: @white;
        /*margin-right: 10px;*/
        margin-bottom:10px;

        font-size: 12px;
        overflow: hidden;
        vertical-align: top;

        .inline-block;
        .box-shadow(0 1px 0 rgba(0, 0, 0, .05));
        .border-radius(10px);

        &.member-info {
            width: 260px; /*230px;*/
            margin-right: 0;
        }

        &.logo {
            position:relative;
            width:260px; height:188px;
            background-repeat:no-repeat;
            background-position:center;
            .background-size(cover);

            .edit {
                position:absolute;
                top:0px; right:0px;
                color:#fff; text-shadow:1px 1px #000;
                padding:5px 10px;
                font-weight:bold;
                i { vertical-align:top; margin-top:2px; }
            }
        }

        &.project-info {
            /*width: 53.3%;/*390px; /*350px;*/
            width:260px;

            .infos {
                overflow-y: auto;
                height: 130px;
                list-style: none;
                margin: 0;
                padding: 10px;
                .info {
                    padding: 6px; /*5px 10px;*/
                    border-bottom: 1px solid #ededed;//@gray-d4;
                    color: #777;
                    &:first-child {
                        padding-top: 0;
                    }
                    &:last-child {
                        padding-bottom: 0;
                        border-bottom: 0 none;
                    }
                    .label-list {
                        span:not(.label) {
                            &:not(:last-child):after {
                                content: ", ";
                            }
                        }
                    }
                }
            }
            button#edit-toggle {
                float: right;
            }
        }

        .member-wrap {
            height: 130px;
            overflow-y: auto;
        }

        .project-members {
            list-style: none;
            margin: 0; padding: 10px;

            .member {
                display:block;
                padding: 5px 10px;
                border-bottom: 1px solid @gray-d4;
                color: #999;
                &:first-child {
                    padding-top: 0;
                }
                &:last-child {
                    padding-bottom: 0;
                    border-bottom: 0 none;
                }

               .name {
                   line-height:24px;
                   margin-left:5px;

                   strong {
                       max-width:140px;
                       overflow:hidden;
                       text-overflow:ellipsis;
                       .inline-block;
                   }
               }
            }
        }

        header {
            background-color: #F8F8F8;
            padding: 10px 15px; /*10px 20px;*/
            h3 {
                font-size: 12px;/* 16px;*/
                color: #4C4C4C;
                margin: 0;
                .inline-block;
                line-height: 20px;
            }
            .project-status {
                float: right;
                line-height: 19px;
                .ico-like { vertical-align: bottom; }
                .num { color: #4489A4; }
                .sp { color: #ccc; margin: 0 7px; }
            }
        }
    }
}
.project-hometop-wrap {
    display:block; clear:both;
    height:30px;

    .vcs-wrap {
        .repo-info;
        padding:0; line-height:30px;

        .repo-url {
            width:570px;
            font-family:Consolas,Tahoma,Verdana !important;
            background:#f5f5f5;
        }
    }

    .issue-wrap {
        strong.num {
            &.open { color:@blue; }
        }
    }
}

.readme {
    padding: 5px;
    .default {
        padding:20px;
        text-align:center;
        min-height:540px;
        .v { display:inline-block; width:0; height:500px; vertical-align:middle; }
    }
    .readme-wrap {
        .border-radius(10px);
        background-color: @white;
        overflow: hidden;
        header {
            padding: 10px 25px;
            background-color: #F8F8F8;
            border-bottom: 1px solid @gray-d4;
            font-size: 18px;
            .ico {
                vertical-align: middle;
                margin-right: 5px;
            }
        }
        .readme-body {
            display:none;
            padding: 25px;
        }
    }
}

.notice-wrap {
    margin:20px 0 0 0;
    border:1px solid #ccc;

    .board-list .board:last-of-type { border-bottom:none; }
}

.write-btn-wrap {
    margin: 20px 0;
    text-align: right;
}

.board-view {
    .num {
        color: #51AACC;
        margin-right: 5px;
    }
}

.board-header{
    padding: 15px 20px;
    border-top: 1px solid @gray-d4;
    border-bottom: 1px solid @gray-d4;
    .div {
        display: table-cell;
        vertical-align: top;
    }
    .board-id {
        width: 35px;
        line-height:16px;
        padding-right: 10px;
        font-size:14px;
    }
    .title {
        width: 90%;/*655px;*/
        padding-right: 20px;
        font-size: 14px;
        line-height: 16px;
        color: #000;
    }
    .date {
        width: 120px;
        color: #999;
    }
    &.issue {
        .title { width:80%;/*650px;*/ }
        /*
        .badge {
            font-size:11px;
            text-shadow:none;
            .border-radius(2px);
        }
        .badge-issue-open {
            background-color:@secondary;
        }
        */
    }
}

.badge {
    font-size:11px;
    text-shadow:none;
    .border-radius(2px);
}
.badge-issue-open {
    background-color:@secondary;
}

.board-body {
    padding: 20px;
    .author-info {
        margin-bottom: 34px;
        .media-body {
            padding-left: 10px;
            p {
                margin-bottom: 5px;
                line-height: 14px;
            }
            .name {
                font-size: 11px;
            }
            .status {
                margin: 0;
                color: #646464;
                font-size: 11px;
                .ico {
                    vertical-align: top;
                }
            }
        }
    }
    .content {
        /*width: 700px;*/
       margin-bottom: 20px;
       a { font-weight:bold; }
    }

    .attachments {
        ul { list-style-type:none; margin:0; }
        i { float:left; margin-right:5px; }
    }
}

.board-comment-wrap {
    display:block; clear:both;
    background-color: #f5f5f5;

    .border-radius(10px);
    .comment-header {
        padding: 0 20px;
        color: #222;
        font-size: 14px;
        line-height: 40px;
    }

    .comments {
        margin: 0;
        padding: 0;
        list-style: none;
        .comment {
            padding: 20px;
            border-bottom:1px solid #efefef;

            .media-body {
                padding-left: 17px;
                .commenter {
                    line-height: 1.3;
                    font-size: 12px; font-weight:bold;
                    /*color: #646464;*/
                    .name {
                        font-size: 11px;
                    }
                    .date {
                        font-size: 11px;
                        color: #aaa;
                    }
                }
                .attach {
                    color: #4489A4;
                }
                .comment-body {
                    /*color: #333;*/
		    a { font-weight:bold; border-bottom:1px dotted; }
                }
            }
            .attach-preview-wrap {
                margin-top: 10px;
            }
        }
    }

}

div.markdown-preview {
    font-size: 12px;
    margin:0px; margin-bottom:9px;
    vertical-align : middle;
    border:1px solid #ccc;
    .border-radius(2px);
    .inline-block;
}

.write-comment-box {
    padding: 17px 20px 15px;
    .write-comment-wrap {
        font-size: 0;
        margin-bottom: 10px;

        div.markdown-preview {
            .border-radius(2px 0 0 2px);
        }
        .disabled {
            resize:none;
        }
    }

    .comment {
        width: 98.5%;/*795px;*/
        height: 80px;
        margin: 0; margin-bottom:9px;
        resize:vertical;
        .border-radius(2px 0 0 2px);
        .box-shadow(none);
        &:focus {
            border: 1px solid @gray-cc;
        }
    }
    .upload-wrap {
        background:#efefef;
        padding:15px;
        .border-radius(5px);
    }
}

.board-footer {
    text-align: right;
    font-size: 0;
    margin-top: 20px;
    .add-btn {
        font-size: 12px;
        color: #888;
        .ico {
            margin-right: 5px;
        }
    }
    a {
        margin-left: 5px;
    }
}
.board-actrow {
    margin:20px 0;

    .labels-wrap {
        line-height: 30px;
        padding-right: 30px;
        text-align: left;
        max-width:630px;
        .inline-block;
    }
}


// -- new attach files //
.upload-wrap {
    .attach-wrap {
        text-align:center;

        .btn-wrap {
            display:inline-block !important;
            margin:0 5px;
        }
        span {
            display:inline-block;
            line-height:30px;
        }
    }

    .attached-files {
        display:none;
        padding: 0;
        margin-bottom: 0;
        margin-top: 15px;
        border-top: 1px solid #e0e0e0;
        padding: 15px 0px;

        .attached-file {
            display: inline-block;
            width: 280px;
            height: 30px;
            line-height: 30px;
            border: 1px solid #ccc;
            background: #fafafa;
            padding: 0 10px;
            margin-bottom: 5px;
            margin-right: 4px;
            cursor:pointer;
            overflow: hidden;
            -webkit-transition-duration: 0.5s;

            .icon-question-sign { display:none; }
            .name {
                display: inline-block;
                max-width: 120px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space:nowrap;
                -webkit-transition-duration: 0.5s;
            }
            .size { font-size:11px; }

            /* 업로드 하는 도중에는 진행 상태 표시 */
            .progress {
                display: inline-block;
                width: 100px;
                height: 10px;
                margin: 0;
                overflow: hidden;
            }
            .btn-delete {
                display:none;
                width: 30px;
                height: 30px;
                font-size: 1.5em;
                font-weight: bold;
            }

            /* 업로드 완료 후에는 삭제 버튼 표시 */
            &.complete {
               .progress    { display:none; }
               .btn-delete  { display:inline-block; }
            }

            /* 임시 파일 표시 */
            &.temporary {
               .icon-question-sign { display:inline-block; }
            }
        }
    }

    .help { display:none; }
    .help-droppable { display:none; }
}
// -- //

.frm-wrap {
    dl, dt, dd { margin:0; padding:0; }
    dt {
        margin:3px 0px 1px 0px;

        label {
            font-weight:bold;
            margin-right:5px;
        }
    }
}

.issue-option {
       width:100%;
       margin-bottom:16px !important;

       dt { margin-bottom:5px; }
       dd {
           margin:0;
           .btn-group { width:100%; }
       }
}
.label-editor {
    padding-top:10px;
    border-top:1px solid #ddd;
}
.content-wrap {
    .text {
        width: 99%; /*946px;/*866px;*/
    }
    textarea.text {
        resize:vertical;
    }
    .title {
        margin-bottom: 15px;
    }
    .content {
        height:190px; /*320px;*/
        background-color: #F9F9F9;
    }
    .actions {
        margin-top: 20px;
        text-align: center;
        position: relative;
    }
    .actrow {
        margin-top:20px;
    }

}
.issue-form-labels {
    .controls {
        margin:0;
        line-height:30px;

        .colors {
            .labelColor {
                border-left:22px solid;
                width:120px; padding:2px; text-align:center;
                margin-top:10px; margin-left:5px;
                .box-shadow(inset 0 1px 2px rgba(0,0,0,0.15));
            }
        }
        .labelInput {
            width:90%;
        }
        .labelSubmit {
            width:100%;
        }
    }
}

.content-footer {
    padding: 10px;
    background-color: #f7f7f7;
    .border-radius(5px);
}

.issue-item  {
    padding:5px 0;
    border-bottom:1px solid #ddd;

    label {
        display:block;
    }

    .num {
        width:60px; margin-top:10px;
        vertical-align: middle;
        a {
            display:inline-block; width:30px;
            text-align:center; /*color:#b2b2b2;*/
            font-weight:bold; color:@secondary;
            &:hover { color:@primary; font-weight:bold; }
        }
    }

    .avatar-wrap {
        margin-right:10px;
    }

    .title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow:ellipsis;
        -webkit-line-clamp:4;
        -webkit-box-orient:vertical;
    }

    .infos {
        color:#999;
        font-size:11px; line-height:13px;

        .date { margin-left:10px; }
        .comment-wrap {
            display:inline-block;
            margin-left:10px;
            .num { color: @secondary; font-weight:bold; }
            .ico { vertical-align: bottom; margin-right: 5px; }
        }
    }

    .title-link { font-size:13px; font-weight:bold; }

    .info-wrap {
        margin-top: 11px;
        margin-right:25px;
        .ico { vertical-align: bottom; margin-right: 5px; }
    }

    .state {
        margin-top:12px;
        margin-right:25px;

        font-weight:bold;
        color:#bbb;

        &.open { color:@secondary; }
    }

    .empty-avatar-space {
        width:32px;
        margin-right:5px;
        margin-top:5px;
    }
}

.issue-list, .board-list{
    margin: 0;
    padding: 0;
    list-style: none;

    .issue, .board{
        border-bottom: 1px solid @gray-d4;
        padding: 10px;
        &:hover { background:#f7f7f7; }
        input[type="checkbox"] {
          margin-right: 10px;
          margin-bottom: 3px;
        }

        > div {
            display: table-cell;
            vertical-align: middle;
        }
        .num {
            width: 35px;
            color: #B2B2B2;
            vertical-align: middle;
            font-size: 12px;
        }
        .attach-wrap {
            width: 35px;
            text-align: center;
            .ico {
                margin-top: 5px;
            }
        }
        .contents {
            width: 80%;/*720px;*/
            padding-right: 20px;

            label {
                display:block;
                margin:0;padding:0;
            }
            .title {
                margin-bottom: 5px;
                font-weight: bold;

                .label-notice {
                    background:@secondary;
                }
                a {
                   overflow:hidden;
                    text-overflow:clip; /*ellipsis;*/
                    -webkit-line-clamp:4;
                    -webkit-box-orient:vertical;
                }
            }
            .infos {
                line-height: 14px;
                font-size: 11px;
                color: #999;
                .author {
                    color: #696969;
                    margin-right:5px;
                }
            }
        }
        .author-avatar-space{
          width:32px;
          padding-right: 10px;
          .img-rounded {
            .inline-block;
            width:40px; height:40px;
          }
        }
        .right-panel {
            width: 160px;
            padding-right: 10px;
            .state {
                float:right;
                margin-top:7px;
                margin-right:13px;
                font-weight:bold;
                font-size:11px;
                color:#bbb; width:38px;
                &.open {
                    color:@blue;
                }
             }
            .avatar-wrap {
              float: right;
            }
            .empty-avatar-space{
              width:32px;
              display:inline-block;
              float:right
            }
            .comment-wrap {
                float: right;
                margin-top: 7px;
                margin-right:15px;

                .ico {
                    vertical-align: bottom;
                    margin-right: 5px;
                }
                .num {
                    color: #4489A4;
                }
            }
            .img-rounded {
                .inline-block;
                width:32px; height:32px;
            }
        }
    }
}
.board-list .board {
    .contents .title a { display:block; }
}

//---- code browse
.code-browse {
    .bubble-wrap {
        padding: 10px;
        .inner-bubble {
            padding: 20px; /*20px 15px 20px 20px;*/
            margin-bottom: 15px;
            border-bottom:1px solid #cfcfcf;
        }
    }
}

.repo-wrap {
    padding:0;
    background:#fff !important;
    overflow:visible !important;
}
.repo-info {
    padding:0px;
    /*text-align:left;/*center;*/
   text-align:right; padding-right:4px;

    .clone-label {
        color: #4D4D4D;
        margin-right: 10px;
        font-weight:bold;

        strong {
            color:#fff; .border-radius(2px);
            font-size: 11px; padding: 4px;
            text-shadow: -1px -1px rgba(0,0,0,0.3);
            margin-right: 5px;
            .bgblue;

            &.Subversion { .bgblue; padding: 8px; }
            &.GIT { .bgblue; /*.bgorange;*/ padding: 8px 27px; }
        }
    }
    .repo-url {
        cursor: text;
        margin: 0;
        /*width: 520px;*/
        width:60%;
        font-family:Consolas,Tahoma,Verdana !important;
        background:#f5f5f5;

        .box-shadow(none);
        .border-radius(2px 0 0 2px);
        &:focus {
            .box-shadow(none);
            border: 1px solid #CCC;
        }
    }
    .copy-btn {
        padding: 0 19px;
        margin-right: 10px;
        margin-top:1px;
        line-height: 28px;
        border: 1px solid #CCC;
        border-left: 0 none;
        vertical-align: top;
        text-decoration: none;
        font-size: 11px;
        font-weight: bold;
        .inline-block;
        .border-radius(0 2px 2px 0);

        &:hover {
            color: @orange;
        }
    }
    .btn-group {
        margin-top:1px;
        .d-label {
            width: 115px; /*155px;*/
        }
    }

    .branches {
        text-align:left;

        .label {
            margin:0; padding:0 5px; margin-right:3px;

            &.branch { background-color:@orange; }
        }
    }
}

.double-sp {
    margin: 15px 0 17px;
}

.code-browse-wrap {
    .code-browse-header {
        /*float:right;*/
        padding:0; padding-right:10px;
        color:#555;
        line-height:34px;
        font-size: 15px;
        font-weight:bold;

        a { margin:0 5px; }
        a:first-of-type { margin-left:0; }
        a:last-of-type { color:@primary; }
    }

    .nav-tabs {
        margin-bottom:0;
    }

    /** history **/
    .commit-wrap {
        background-color: @white;

        .commit-id { text-align:center; }

        .tbody {
            td { padding:10px 15px 10px 5px; }

            .messages {
                a { display:inline-block; font-size:14px; }
                pre { background:#f5f5f5; }

                button.more {
                    display:inline-block;
                    border:none; margin:0; font-size:14px;
                    background:#bbb; color:#fff;
                    padding: 0px 6px; margin-bottom:2px; margin-left:5px;
                    .border-radius(2px);
                }
            }

            .commit-id {
                width: 70px; text-align:center;

                font-family:Consolas;
                font-size:12px;

                a {
                    color:@secondary;
                    &:hover { color:@link-hover-color; text-decoration:underline; }
                }
            }
        }
    }

    /** diff **/
    /** code/diff.scala.html **/
    .commitId {
        color:#999;
        margin-top:5px;
    }
    .commitMsg {
        font-family:@base-font-family;
        font-size:12px;
    }
    .commitInfo {
        .avatar-wrap { margin-right:5px; }
        .ago { margin-left:5px; color:#bbb; }
    }
    .diff-wrap {
        width:100%; overflow:auto; margin-bottom:20px;

        .diff-body {
            display:none;
            font-family: "monospace", Consolas, Tahoma;

            table {
                border: 1px solid #eee;
                width: 100%;
            }
            td {
                border-width: 0px 1px;
                border-color: #e5e5e5;
                border-style: solid;
            }
            td.linenum {
                text-align: right;
                color: rgba(0, 0, 0, 0.3);
            }
            span {
                white-space: pre;
            }
            span.add {
                background-color: #aaffaa;
            }
            span.remove {
                background-color: #ffaaaa;
            }
            tr.add {
                background-color: #eeffcc;
            }
            tr.remove {
                background-color: #fdd;
            }
            tr.file {
                background-color: #eee;
                border:1px solid #bbb;
                height:30px;
                font-weight: bold;
            }
            tr.range {
                color: #999;
                background-color: #f8f8ff;
            }
            .icon-comment {
                visibility: hidden;
                opacity: 0.6;
            }
        }
    }

    .diff-wrap + ul.comments {
        margin-top: 15px;
    }

    .write-comment-box {
        font-family:@base-font-family;
        background-color: #f5f5f5;
        margin-bottom:15px;
    }

    ul.comments {
        margin:0;

        .comment {
            padding: 20px;
            border-bottom:1px solid #efefef;
            list-style: none;

            .media-body {
                padding-left: 17px;
                .commenter {
                    line-height: 1.3;
                    font-size: 12px; font-weight:bold;
                    /*color: #646464;*/
                    .name {
                        font-size: 11px;
                    }
                    .date {
                        font-size: 11px;
                        color: #aaa;
                    }
                }
                .attach {
                    color: #4489A4;
                }

                .comment-body {
                    /*color: #333;*/
                    a { font-weight:bold; border-bottom:1px dotted; }
                }
            }

            .attach-preview-wrap {
                margin-top: 10px;
            }
        }
    }

    /** view **/
    .code-viewer-wrap {
        width:100%;
        overflow:auto;
        zoom:1;
        border:1px solid #ddd;
        border-top:none;
        .code-tree {
            display:table-cell;
            width:20%;/*259px;*/
            overflow-x : auto;
            float:left;
            height:100%;
        }

        .code-viewer {
            display:table-cell;
            float:right;
            width:79%;/*680px;*/
            height:100%;
        }
    }

    .cell {
        display: table-cell;
        background-color: @white;
        vertical-align: top;

        &.directory-wrap {
            position: relative;
            overflow: auto;
            width: 100%;/*20%, 260px;*/
            padding:15px 5px;
        }
        &.sp-wrap {
            display:none;
            border-left: 4px solid #E6E6E6;
        }
        &.file-wrap {
            width:100%; /*80%, 916px;*/
            overflow-x: auto;

        }
    }

    .directory-header {
        line-height: 34px;
        background-color: #9C9C9C;
        color: @white;
        font-size: 10px;
        padding-left: 20px;
        position: absolute;
        width: 180px;
        display:none;
    }

    .directories {
        margin: 0;
        /*margin-top: 34px;*/
        padding: 0;
        overflow: auto;
        list-style: none;
        min-height: 320px;

        &.view {
            margin-top: 0;
        }
        .directory {
            padding-left: 20px;
            line-height: 50px;
            border-bottom: 1px solid #E6E6E6;
            a {
                white-space: nowrap;
                color: #337581;
            }
            &.selected {
                background-color: #F2F2F2;
            }
        }
    }

    .code-table {
        width: 100%;

        td { padding: 0 15px 0 5px; }
        .thead {
            background-color: #eee;
            line-height: 34px;
            font-size: 12px;
            border-bottom:1px solid #ccc;
        }

        .tbody {
            font-size: 10pt; color: #666;

            td { line-height: 30px; }
            tr {
                border-bottom: 1px solid #E6E6E6;
                &:last-of-type { border-bottom:none; }
            }
        }

        .filename {
            padding-left: 10px;
            max-width: 200px;
            display:block;
            color:#000;
            .text-overflow;

            span.dynatree-icon {
                margin-right:5px;
                margin-bottom:1px;
            }
            &.updir {
                span.dynatree-icon { display:none; }
            }
        }

        .updir { font-weight:bold; }

        .messages {
           /* commit History */
           pre { background:none; border:none; margin:0; }

           .number-of-comments { float: right; position: relative; }

           /* fileList */
           span {
               display:block; max-width:260px;
               .text-overflow;
           }
        }

        .author {
            width: 40px;
            text-align: right;
            line-height:1 !important;
        }
        .date {
            width: 80px;
            font-size:12px;
        }
    }

    .file-header {
        margin-top: 10px;
        line-height: 34px;
        background-color: #eee;/*D7D7D7;*/
        border-bottom:1px solid #ccc;
        /*color: #767676;*/
        font-size: 11px;
        padding-left: 15px;
        overflow: hidden;

        .file-info {
            float: left;
            max-width: 590px;
            .text-overflow;

            span {
                padding-right:5px;
                margin-right:5px;
                border-right:1px solid #ccc;

                &:last-of-type {
                    padding-right:0;
                    margin-right:0;
                    border-right:none;
                }
                &:empty {
                    display:none;
                }
            }
            .commitMsg { font-weight:bold; }
        }

        .nbtn { margin:2px; }
    }

    .code-wrap {
        border:none;
        margin:0 !important;
        padding:0 !important;
        .border-radius(0px);

       .ace_scrollbar { display:none; }
       .ace_scroller  { right:0 !important; }
    }

    .image-wrap {
        padding:10px;

        img { max-width:100%; }
    }

    .file-wrap {
        p {
            margin: 100px 0; text-align:center;
            .filename { display:block; font-size:20px; }
            .filesize { display:block; font-size:13px; margin-bottom:20px; color:#999; }
        }
    }

    .btnResize {
        font-family:Arial !important;
        width:10px; cursor:e-resize;
        height: 99.9%;
        vertical-align: middle;
        color: #a5a5a5;
        border-left: 1px solid #ddd;
        background: #f5f5f5;
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f5f5f5), color-stop(100%,#e9e9e9));
    }
}

.code-view-table {
    td {
        vertical-align: top;
    }
    pre {
        line-height: 1.5;
        padding: 0;
        margin: 0;
        background-color: transparent;
        border: 0 none;
        .border-radius(0);
        font-size: 12px;
    }
    .line-num {
        padding: 10px 6px;
        text-align: right;
        background-color: #F7F7F7;
        border-right: 1px solid #EEE;
        width: 22px;
        > a {
            color: #AAA;
        }
    }
    .code-lines {
        padding: 10px;
        font-size: 0;
        white-space: pre;
        .line {
            margin: 0;
            padding: 0;
            font-size: 12px;
        }
    }
}

//-- user setting2
.profile-frmwrap {
    .avatar-frm {
        display:inline-block;
        vertical-align:top;
        margin:30px; margin-right:50px;

        .avatar-wrap {
            position:relative;

            .progress {
                position:absolute;
                width:130px; height:0px;
                padding:0; margin:0; bottom:0px;
                background:@primary; .opacity(80);
                -webkit-transition-duration:1s;
                &.loading { height:130px; }
            }
        }

        .btn-wrap {
            margin-left:10px;
            .nbtn i { vertical-align:top; margin-right:2px; }
        }
    }

    dl {
        display:inline-block;
    }

    form {
        display:inline-block;
        vertical-align: top;
        margin-right:50px;
        &:last-of-type { margin-right:0px; }
    }

}
#avatarUploaded {
    display:none;

    .msg {
        width: 210px;
        font-size: 11px;
        padding: 5px; margin: 10px 0px;
        text-align: center;
        background: #FFF0E8;
        border: 1px solid #fac7ab;
        color: #F36C22;
        font-weight: bold;
    }
}

//-- user setting.
.user-info-box {
    float: left;
    width:200px;

    .whoami-wrap {
        position:relative; overflow:hidden;
        width:200px; height:200px;
        background-color:#ccc;
        background-position:center;
        .background-size(cover);
        .border-radius(4px);
        .box-shadow(inset 0px 0px 10px rgba(0,0,0,.15));

        .whoami {
            width:100%; height:50px; left:0;
            background: rgba(0,0,0,0.85);
            border-top:5px solid @primary;
            color:#fff;
            text-shadow:1px 1px #000;
            text-align:left; line-height:120%;
            padding:10px; padding-left:15px; margin-top:73%;

            .uname {
                font-size:18px;
                font-weight:bold;
            }
            .email {
                display:block;
                font-size:11px; font-family:Tahoma;
                margin-left:2px;
                .opacity(80);
            }
        }

        .edit {
            position:absolute;
            top:0px; right:0px;
            color:#fff; text-shadow:1px 1px #000;
            padding:5px 10px;
            font-weight:bold;
            background:rgba(0,0,0,0.5);
            .border-radius(0 0 0 5px);
            i { vertical-align:top; margin-top:2px; }
        }
    }

    .user-status {
        margin-top:20px;

        p {
            display:inline-block;
            line-height:2em;
            padding:0 10px;
            height:50px;

            .num {
                display:block;
                color: @primary;
                font-size:2em;
                font-weight:bold;
            }

            .labels {
                display:block;
                color: #707070;
                width: 70px;
                letter-spacing:-1pt;
            }

            &:last-of-type {
                border-left:1px solid #eee;
                padding-left:20px;
            }
        }

        .nbtn {
            margin-top:20px; margin-left:3px;
            text-shadow:1px 1px rgba(0,0,0,0.2);
            i { vertical-align:top; }
        }
    }

    .user-since {
        padding:0 10px;

        .since {
            display:block;
            font-size: 14px;
            font-weight:bold;
            color:@primary;
        }
    }

    .btn-wrap {
        text-align: center;
    }

    hr {
        border-top:1px solid #d9d9d9;
    }
}

.user-box {
    margin: 15px 0 25px;
    margin-bottom:0px;
    overflow: hidden;
}

.user-stream-box {
    margin-left: 220px;
    overflow: hidden;
    .h5-title {
      background-color: #615353;

      color: white;
      padding: 5px;
    }
    /*
    .user-streams {
        margin: 0;
        padding: 0 10px;
        list-style: none;
        .user-stream {
            overflow: hidden;
            &:first-child {
                padding-top: 10px;
            }
            &:last-of-type {
                border:none;
            }
            padding: 20px 0;
            border-bottom: 1px solid @gray-d4;
            .project-name {
                margin: 0 0 10px 0;
                color: #888;
                font-size: 20px;
                line-height: 1.3;
            }
            .stream-desc {
                width: 510px;
                float: left;
            }
            .date {
                margin: 0;
                color: #999;
                font-size: 11px;
            }
            .project-status {
                text-align: right;
                padding-right: 10px;
                .ico {
                    vertical-align: middle;
                }
                .ico-activity {
                    margin-left: 40px;
                }
                .ico-like {
                    margin-right: 5px;
                }
                .num {
                    color: #4489A4;
                }
            }
        }
    }
    */
}
.user-stream-wrap {
    .inner {
        border-bottom:1px solid #c3c3c3;
    }
}

//commit view
.commit-info-wrap {
    padding-left: 10px;
    span {
        .inline-block;
        margin-right: 5px;
        font-size: 11px;
        &.date {
            color: #646464;
        }
        &.sp {
            color: #999;
        }
        &.sha-block {
            color: #646464;
            .num {
                color: #51AACC;
            }
            .commit-id {
                color: #646464;
                font-weight: bold;
            }
        }
    }
}

.diff-code-view-table {
    width: 100%;
    .diff-line-num {
        &:first-child {
            border-left: 1px solid #EEEEEE;
        }
        width: 22px;
        background-color: #F7F7F7;
        padding: 0 6px;
        text-align: right;
        border-right: 1px solid #EEEEEE;
        font-size: 12px;
        line-height: 1.5;
        > a {
            color: #AAA;
        }
    }
    .raw-code {
        padding-left: 10px;
        .point {
            .inline-block;
        }
        &.gc {
            background-color: #EEE;
        }
        &.plus {
            background-color: #CFEAEA;
            .point {
                background-color: #46A4A4;
            }
        }
        &.minus {
            background-color: #FFEBDD;
            .point {
                background-color: #FFA86A;
            }
        }
        pre {
            background-color: transparent;
            border: 0 none;
            .border-radius(0);
            font-size: 12px;
            line-height: 1.5;
            margin: 0;
            padding: 0;
        }
    }
    tr:last-child {
        border-bottom: 1px solid #EEE;
    }
}
/*
.plugin-wrap {
    padding: 10px;
    .plugin-table-wrap {
        .border-radius(10px);
        .box-shadow(0 1px 0 rgba(0,0,0, .15));
        overflow: hidden;
        background-color: @white;
        .plugin-table {
            width: 100%;
            border-collapse: separate;
        }
        td {
            padding: 0;
        }
        thead {
            td {
                background-color: #828282;
                line-height: 44px;
                text-align: center;
                font-weight: bold;
                color: @white;
                border-bottom: 1px solid #414141;
            }
        }
        tbody {
            td {
                border-bottom: 1px solid #E6E6E6;
                border-left: 1px solid #E6E6E6;
                text-align: center;
                &.checked {
                    width: 30px;
                    padding: 0 20px;
                    border: 1px solid #E6E6E6;
                    border-top: 0 none;
                    border-left: 0 none;
                    border-right-width: 3px;
                    .bg-checkbox {
                       padding: 0;
                       margin: 0;
                    }
                }
                &.plugin-name {
                    padding: 0 30px;
                    text-align: left;
                    border-left: 1px solid #CCC;
                    .name {
                        color: @blue;//#4092A1;
                    }
                    .desc {
                        font-size: 11px;
                        color: #666;
                    }
                }
                &.others {
                    width: 89px;
                    color: #999;
                    font-size: 11px;
                    &.large {
                        width: 119px;
                    }
                }
            }
        }
        .plugin-footer {
            border-top: 3px solid #FBFAF8;
            padding: 20px 20px 25px;
            overflow: hidden;
            .check-wrap {
                float: left;
                padding-left: 7px;
            }
            .btn-wrap {
                float: right;
                font-size: 0;
                .ns-btn {
                    margin-left: 10px;
                    .ico { vertical-align:middle; }
                }
            }
            .bg-checkbox {
               .inline-block;
               margin:2px;
            }
        }
    }
}
*/
.statistics {
    padding: 10px;
    font-size: 0;
}
.statistics-wrap {
    .border-radius(10px);
    overflow: hidden;
    .inline-block;
    width: 425px;
    border-bottom: 1px solid @gray-d4;
    background-color: @white;
    &:nth-child(2) {
        margin-right: 10px;
    }
    &.top {
        display: block;
        width: 860px;
        margin-bottom: 15px;
        .graph-wrap {
            width: 820px;
            margin: 10px 20px;
            min-height: 240px;
        }
    }
    .header {
        background-color: #F8F8F8;
        overflow: hidden;
        padding: 0 20px;
        font-size: 12px;
        color: #999;
        h2 {
            font-size: 16px;
            line-height: 37px;
            color: #4C4C4C;
            margin: 0;
            float: left;
        }
        .desc {
            float: right;
            line-height: 37px;
            .ico {
                margin: 0 3px 0 5px;
            }
        }
    }
    .graph-wrap {
        padding: 10px 20px;
        background-color: @white;
        min-height: 240px;
    }
}

.error-wrap {
    padding:50px 0px;
    margin:30px 0px;
    border-bottom:1px solid #dcdcdc;
    text-align:center;

    p {
        font-weight:bold; font-size:15px;
        color:#898989; margin-top:18px;
    }
}
.code-tab, .plugin-tab {
    margin: 15px 0 20px;
}

.actions {
    &:last-child { margin-right:0; }
}

// -- site admin
.site-setting-wrap {
    .fl{float:left}
    .fr{float:right}
    .section0{margin-bottom:0}
    .section39{margin-bottom:39px}
    .mt30{margin-top:30px}

    .site_lnb{float:left;width:280px;margin:30px 0 75px}
    .content_area{float:left;width:638px;margin:30px 0 75px;vertical-align:top}

    .lnb_area{
      width:200px;margin:0 auto;
      h3.h_site{margin:0;padding:19px 0 17px 19px;border-style:solid;border-width:1px;border-color:#e6e6e6 #e6e6e6 #c9c9c9;background-color:#f8f8f8;font-size:14px;color::#4c4c4c;line-height:1em}
      ul{
        margin:0;padding:3px 9px 30px;list-style:none;border-style:solid;border-width:1px;border-color:#f6f6f6 #e6e6e6 #ececec;
        li{
          border-bottom:1px solid #e8e8e8;list-style:none;
          a{display:block;padding:7px 0 10px 11px}
          a:hover,a:active,a:focus,a.on{background:url(/assets/images/lnb_arr.gif) 94% 18px no-repeat;color:#f36c22;text-decoration:none}
        }
      }
    }

    .title_area{
      overflow:hidden;margin-bottom:29px;padding-bottom:8px;border-bottom:2px solid #c9c9c9;zoom:1;
      h2{margin:15px 0 0;font-size:18px;color:#4c4c4c;line-height:1em}
      .form-search{
        margin-top:13px;
        input[type=text]{height:25px;padding:0 0 0 10px;font-size:11px;line-height:25px}
        .btn{width:91px;height:27px;margin:0 0 0 -5px;padding:0;font-family:Tahoma;font-size:10px;line-height:27px}
      }
    }

    .h_setting{margin:0 0 20px 0;font-size:14px;color:#4c4c4c;font-weight:bold;line-height:1em}
    .no_date{padding:19px 0;border:1px solid #e6e6e6;background-color:#f9f9f9;font-size:12px;color:#464646;text-align:center}

    .bbs_type1{
      width:100%;border-top:1px solid #e3e3e4;color:#333;table-layout:fixed;word-wrap:break-word;
      caption{visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0;text-align:left}
      th{
        padding:7px 10px 9px;border-bottom:1px solid #e3e3e4;background-color:#f9f9f9;font-weight:bold;
        &:first-child{border-left:1px solid #e3e3e4}
        &.last{border-right:1px solid #e3e3e4}
      }
      td{
       padding:8px 20px;border-bottom:1px solid #eee;
        &.c{text-align:center}
        &.btn_area{
          padding:0 10px;
          .btn{padding:1px 16px;font-size:12px}
          }
        }
    }
}

// -- pull request
.pull-request-wrap {
    margin-bottom:20px;

    .request-from {
        display:inline-block; width:435px;
        .repo { color:@secondary; font-size:14px; }
        .dropdown-toggle { width:435px; }
        .dropdown-menu   { width:435px; }
    }

    .request-to {
        display:inline-block; width:435px;
        .repo { color:@primary; font-size:14px; }
        .dropdown-toggle { width:435px; }
        .dropdown-menu   { width:435px; }
    }

    .arrow {
        display:inline-block; width:83px;
        text-align:center;
    }
}
/*
.mass-update-form {
    margin-top:10px;
    margin-bottom: 10px;
    padding-left:60px;
    .btn-group + .btn-group { margin-left:0; }
}
*/
.fork-wrap {
    .project-from {
        display:inline-block;
        width:300px;
        vertical-align:middle;
        text-align:center;

        .title { color:@secondary; }
    }

    .arrow {
        display:inline-block;
        vertical-align:middle;
        padding:0 40px;
    }

    .project-to {
        display:inline-block;
        width:550px;
        vertical-align:middle;

        .project-name-wrap {
            display:block;

            .title { color:@primary; }
            .owner {
                display:inline-block;
                font-size:14px;
                padding-top:5px; margin-right:10px;
            }
            .project-name {
                display:inline-block;
                vertical-align:top;
                input { font-size:14px; }
                .help-block { color:#999; }
            }
        }

        .project-public {
            line-height:30px;
        }
    }
}
code.milestone-title{
  font-size:10px;
}

// -- keymap
.keymap-help {
    padding:20px;
    line-height:30px;

    .nbtn {
        min-width:20px;
    }
    .actrow {
        text-align:center;
        margin-top:30px;
    }
}

// -- Help Messages
.help-messages {
    margin-left: 10px;

    p:not(.lead) {
        font-size: 120%;
    }
}