@(projects:List[Project], orderString:String)

@home("hive.name", utils.MenuType.SITE_HOME) {
    <div class="page on-fold-intro">
        <div class="fn-intro-wrap">
	        <div class="tag-line-wrap tag-line-wrap-index">
	            <h1 class="title"><span class="high-light">Software development platform</span></h1>
	            <p class="tag-line">
	                <span>Open Source</span> Project. 
	                <span>Code</span> Repository. 
	                <span>Issue</span> Tracker. 
	            </p>
	        </div>
            <ul class="intros @if(!session.contains("userId")){ index }">
				<li class="project">
					<strong>프로젝트</strong>
					
					원하는 이름으로
					프로젝트를 원하는 만큼 만들어보세요.
					유일한 한계는 상상력의 한계일 뿐입니다.
				</li>
				<li class="repository">
					<strong>코드 저장소</strong>
					
					작성한 코드는
					모두 이력이 관리되는 형태로 안전하게 서버에 보관됩니다
				</li>
				<li class="tracker">
					<strong>이슈 트래커</strong>
					
					팀이 함께 고민하고
					처리해야 하는 내용들을 적고
					거친 파도를 합심해 헤쳐나가듯 해결해 나갑니다.
				</li>
            </ul>
            
            <a href="#" id="toggleIntro"><i class="ico btn-open-close"></i></a>
        </div>
        
        <div class="row-fluid content-container">
            @if(session.contains("userId")){
	        <div class="span8 main-stream">
                <ul class="activity-streams unstyled">
                    <li class="activity-stream">
                        <a href="/" class="user-thumb-wrap"><img src="@routes.Assets.at("images/default-avatar-64.png")" width="62" height="62"></a>
                        <div class="activity-desc">
                         <h5 class="header-text">
                             <a href="/" class="actor">HIVE</a>님이 <strong class="whereis">@UserApp.currentUser.name</strong>님에게 메시지를 보냈습니다.
                         </h5>
                         <div class="desc">
                             HIVE 사용을 환영합니다. HIVE는 소프트웨어 개발 플랫폼입니다.
                             작성한 코드는 모두 이력이 관리되는 형태로 안전하게 서버에 보관됩니다.
                             팀이 함께 고민하고 처리해야 하는 내용들을 적고 거친 파도를 합심해 헤쳐나가듯 해결해 나갑니다
                         </div>
                         <p class="others">
                             <i class="ico ico-comment-bubble"></i><span class="num">0</span>
                             <i class="ico ico-sp-dot"></i>
                             <i class="ico ico-like"></i><span class="num">0</span>
                             <span class="date">@UserApp.currentUser.getDateString()</span>
                         </p>
                        </div>
                    </li>
                </ul>
	       </div>
	       
	       <div class="span4">
                <div class="projects-wrap">
                    @myProjectList(projects, orderString)

                    <div class="btn-wrap">
                        <a href="@routes.ProjectApp.newProjectForm()"><i class="ico ico-pencil"></i> @Messages("button.newProject")</a>
                    </div>
                </div>
	       </div>

           } else {
    	
            <div class="span12 front">
                <div class="btn-wrap">
                    <a href="@routes.ProjectApp.newProjectForm()"><i class="ico ico-pencil"></i> @Messages("button.newProject")</a>
                </div>
            </div>
            
           }
        </div>

    </div>
    
    <script type="text/javascript">
        $(document).ready(function(){
            $("#toggleIntro").click(function(){
                $(".page").toggleClass("on-fold-intro");
                localStorage.setItem("hive-intro", !$(".page").hasClass("on-fold-intro"));
            });
            
            if(localStorage.getItem("hive-intro") != "false"){
                $(".page").removeClass("on-fold-intro");
            }
        });
    </script>
}